{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
{% include 'includes/navbar_admin.html' %}
<!-- Backup Module -->
<div class="row mt-3 mx-1 justify-content-md-center">
  <div class="col shadow p-2 col-lg-10 rounded bg-light">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href=""><h4>{% trans "Backups" %}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#backupNavbar" aria-controls="backupNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="backupNavbar">
          <ul class="navbar-nav ms-auto mb-lg-0">
            <li class="nav-item me-1 my-1">
              <a class="btn btn-outline-secondary btn-sm" href="/backup/"><i class="bi bi-plus-square"></i>&nbsp;{% trans "New Backup" %}</a>
            </li>
          </ul>
          </div>
        </div>
      </nav>
  </div>
  
</div>
<div class="row mt-3 mx-1 justify-content-md-center">
  <div class="col shadow p-3 border rounded col-lg-10">
  {% if file_list %}
  <div class="table-responsive">
  <table class="table table-hover" id="backup_list" name="Backup_List">
      <!-- Cabecera de Tabla -->
      <thead class="table-primary">
          <th>{% trans "Name" %}</th>
      </thead>

      <!-- Cuerpo de Tabla -->

      <tbody>
          {% for file in file_list %}
          <tr>
            {% if not '.gitignore' in file %}  
            <td><a class="nav-link" href="{{ path }}{{ file }}" download>{{ file }}</a></td>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>

  </table>
  </div>
  {% else %}
      <p>{% trans "No backups available." %}</p>
  {% endif %}
  </div>
</div>
{% endblock %}