{% extends 'main/base.html' %}
{% load i18n %}

{% block navbar %}
{% include 'includes/admin_navbar.html' %}
{% endblock navbar %}

{% block content %}

<!-- Backup Module -->
<div class="row mt-3 mx-1 justify-content-md-center">
  <div class="col shadow p-2 col-lg-10 rounded bg-light">
        <div class="container-fluid px-4">
         <h4><i class="bi bi-hdd-stack"></i>&nbsp;{% trans "Backups" %}</h4>
        </div>
  </div>
  
</div>
<div class="row mt-3 mx-1 justify-content-md-center">
  <div class="col shadow p-3 border rounded col-lg-10">
  {% if file_list %}
  <div class="table-responsive">
  <table class="table table-hover" id="backup_list" name="Backup_List">
      <!-- Cabecera de Tabla -->
      <thead class="table-secondary">
          <th>{% trans "Name" %}</th>
      </thead>

      <!-- Cuerpo de Tabla -->

      <tbody>
          {% for file in file_list %}
          <tr>
            {% if not '.gitignore' in file %}  
            <td><a class="nav-link" href="{{ path }}{{ file }}" download>{{ file }}</a></td>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>

  </table>
  </div>
  {% else %}
      <p>{% trans "No backups available." %}</p>
  {% endif %}
  </div>
</div>
{% endblock %}