{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<div class="row mt-3 justify-content-md-center">
    <div class="col shadow p-2 col-lg-10 rounded bg-light">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href="#"><h2>{% trans "Trash" %}</h2></a>
        </div>
      </nav>
    </div>
</div> 
<div class="row mt-3 justify-content-md-center" id="companies-table-block">
    <div class="col shadow p-3 border rounded col-lg-10">
    {% if trash_list %}
    <div class="table-responsive">
    <table class="table table-hover" id="trash_list" name="Trash_List">

    <!-- Cuerpo de Tabla -->
    
    <tbody>
        {% for trash in trash_list %}
        <tr>
            <td>
              <p>{{ trash }}</p>
            </td>
            <td>
              {% if trash.companyName %}
                <div><a class="btn btn-primary btn-sm" href={% url 'timesheet:Restore_Company' id=trash.id u=0 %}>{% trans "Restore" %}</a></div>
              {% elif trash.projectName%}
                <div><a class="btn btn-primary btn-sm" href={% url 'timesheet:Restore_Project' id=trash.id u=0 %}>{% trans "Restore" %}</a></div>
              {% else %}
                <div><a class="btn btn-primary btn-sm" href={% url 'timesheet:Restore_Timesheet' id=trash.id u=0 %}>{% trans "Restore" %}</a></div>
              {% endif %}
            </td>
            <td>
              {% if trash.companyName %}
                <div><a class="btn btn-danger btn-sm" href={% url 'timesheet:Full_Delete_Company' id=trash.id %}>{% trans "Delete" %}</a></div>
              {% elif trash.projectName %}
                <div><a class="btn btn-danger btn-sm" href={% url 'timesheet:Full_Delete_Project' id=trash.id %}>{% trans "Delete" %}</a></div>
              {% else %}
                <div><a class="btn btn-danger btn-sm" href={% url 'timesheet:Full_Delete_Timesheet' id=trash.id %}>{% trans "Delete" %}</a></div>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>

    <nav aria-label="Page navigation" class="m-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/user_trash/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/user_trash/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/user_trash/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    {% else %}
        <p>{% trans "Trash is empty." %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}