{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% include 'includes/navbar_mgmt.html' %}
<div class="row mt-3 justify-content-md-center" id="companies-table-block">
    <div class="col shadow p-3 border rounded col-lg-10">
      <nav class="navbar navbar-expand-lg table_nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h4>{% trans "Projects" %}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#projectsNavbar" aria-controls="projectsNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="projectsNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_staff %}
              <li class="nav-item">
                <a class="btn btn-outline-secondary btn-sm my-1" href="{% url 'timesheet:Create_Project' %}"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Project" %}</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex btn-sm" role="search">
                {{searchform.q}}
              <button class="btn btn-primary mx-2" type="submit">{% trans "Search" %}</button>
            </form>
            <div>
              <a href="{% url 'timesheet:Projects' a=0 b=10 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
            </div>
          </div>
        </div>
      </nav>
    {% if project_list %}
    <div class="table-responsive">
    <table class="table table-hover" id="project_list" name="Project_List">
    <!-- Cabecera de Tabla -->
    
        <thead class="table-primary">
            <th class="px-3">{% trans "Name" %}</th>
            <th class="text-center">{% trans "Allocated" %}</th>
            <th class="text-center">{% trans "Remaining" %}</th>
            <th>{% trans "Type" %}</th>
        </thead>

    <!-- Cuerpo de Tabla -->
    
    <tbody>
        {% for Project in project_list %}
        <tr>
            <td class="px-3"><a class="nav-link" href={% url 'timesheet:Project' id=Project.id a=0 b=5 %}>{{ Project}}</a></td>
            <td class="text-center">{{ Project.alloc_time }} hs.</td>
            {% if Project.unalloc_time < 0 %}
            <td class="text-center text-danger">{{ Project.unalloc_time }} hs.</td>
            {% else %}
            <td class="text-center">{{ Project.unalloc_time }} hs.</td>
            {% endif %}
            {% if Project.projectType == 'onetime' %}
            <td>{% trans "One-Time" %}</td>
            {% else %}
            <td>{% trans "Recurrent" %}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% if links %}
    <nav aria-label="Page navigation" class="m-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/timesheet/projects/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/timesheet/projects/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/timesheet/projects/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      
    {% endif %}

    {% else %}
    <div class='mx-5 my-3'>{% trans "No projects available." %}</div>
    {% endif %}
    </div>
</div>
<script src="{% static 'timesheet/js/project_list_helper.js' %}"></script>
{% endblock %}