{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}


<div class="row mt-3 mx-1 justify-content-md-center" id="companies-table-block">
    <div class="col bg-white p-3 border rounded col-lg-10">
      <!-- Table Block Header -->
      <nav class="navbar navbar-expand-lg table_nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h4>{% trans "Projects" %}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#projectsNavbar" aria-controls="projectsNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Offcanvas Header -->
          <div class="offcanvas offcanvas-end " tabindex="-1" id="projectsNavbar" aria-labelledby="offcanvasProjectsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasProjectsLabel">{% trans "Projects" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- Incanvas Form -->
            <div class="d-none d-lg-block">
              <div class="collapse navbar-collapse" id="projectsNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-sm my-1" href="{% url 'timesheet:Create_Project' %}"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Project" %}</a>
                  </li>
                </ul>
                <form class="d-flex btn-sm" role="search">
                    {{searchform.q}}
                  <button class="btn btn-outline-success mx-2" type="submit">{% trans "Search" %}</button>
                </form>
                <div>
                  <a href="{% url 'timesheet:Projects' a=0 b=10 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </div>
              </div>
            </div>
            
            <!-- Offcanvas Form -->
            <div class="d-lg-none">
              <div class="offcanvas-body">
                <a class="btn btn-outline-secondary btn-sm my-1" href="{% url 'timesheet:Create_Project' %}"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Project" %}</a>
                <form class="col btn-sm" role="search" id="qform">
                  <div class="my-2">{{searchform.q}}</div>
                  <button class="btn btn-outline-success mr-2" type="submit">{% trans "Filter" %}</button>
                  <a href="{% url 'timesheet:Projects' a=0 b=10 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </form>
              </div>
            </div>

          </div>
        </div>
      </nav>
    {% if project_list %}
    <!--Tabla LG -->
    <div class="table-responsive d-none d-lg-block">
      <table class="table table-hover" id="project_list" name="Project_List">
        <!-- Cabecera de Tabla -->
        <thead class="table-success">
            <th class="px-3">{% trans "Name" %}</th>
            <th>{% trans "Customer" %}</th>
            <th class="text-center">{% trans "Allocated" %}</th>
            <th class="text-center">{% trans "Remaining" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Start Date" %}</th>
        </thead>

        <!-- Cuerpo de Tabla -->
        <tbody>
            {% for Project in project_list %}
            <tr>
                <td class="px-3"><a class="nav-link" href={% url 'timesheet:Project' id=Project.id a=0 b=5 %}>{{ Project.projectName }}</a></td>
                <td><a class="nav-link" href={% url 'timesheet:Company' id=Project.company.id a=0 b=5 %}>{{Project.company.companyName}}</a></td>
                <td class="text-center">{{ Project.alloc_time }} hs.</td>
                {% if Project.unalloc_time < 0 %}
                <td class="text-center text-danger">{{ Project.unalloc_time }} hs.</td>
                {% else %}
                <td class="text-center">{{ Project.unalloc_time }} hs.</td>
                {% endif %}
                {% if Project.projectType == 'onetime' %}
                <td>{% trans "One-Time" %}</td>
                {% else %}
                <td>{% trans "Recurrent" %}</td>
                {% endif %}
                <td>{{ Project.startDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <!--Tabla sm -->
    <div class="table-responsive d-none d-sm-block d-lg-none">
      <table class="table table-hover" id="project_list" name="Project_List">
        <!-- Cabecera de Tabla -->
        <thead class="table-success">
            <th class="px-3">{% trans "Name" %}</th>
            <th class="text-center">{% trans "Allocated" %}</th>
            <th class="text-center">{% trans "Remaining" %}</th>
            <th>{% trans "Type" %}</th>
        </thead>

        <!-- Cuerpo de Tabla -->
        <tbody>
            {% for Project in project_list %}
            <tr>
                <td class="px-3"><a class="nav-link" href={% url 'timesheet:Project' id=Project.id a=0 b=5 %}>{{ Project}}</a></td>
                <td class="text-center">{{ Project.alloc_time }} hs.</td>
                {% if Project.unalloc_time < 0 %}
                <td class="text-center text-danger">{{ Project.unalloc_time }} hs.</td>
                {% else %}
                <td class="text-center">{{ Project.unalloc_time }} hs.</td>
                {% endif %}
                {% if Project.projectType == 'onetime' %}
                <td>{% trans "One-Time" %}</td>
                {% else %}
                <td>{% trans "Recurrent" %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

<!--Tabla xs -->
<div class="table-responsive d-block d-sm-none">
  <table class="table table-hover" id="project_list" name="Project_List">
    <!-- Cabecera de Tabla -->
    <thead class="table-success">
        <th class="px-3">{% trans "Name" %}</th>
        <th class="text-center">{% trans "Remaining" %}</th>
    </thead>

    <!-- Cuerpo de Tabla -->
    <tbody>
        {% for Project in project_list %}
        <tr>
            <td class="px-3"><a class="nav-link" href={% url 'timesheet:Project' id=Project.id a=0 b=5 %}>{{ Project.projectName}}</a></td>
            {% if Project.unalloc_time < 0 %}
            <td class="text-center text-danger">{{ Project.unalloc_time }} hs.</td>
            {% else %}
            <td class="text-center">{{ Project.unalloc_time }} hs.</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

    {% if pgx.pgs > 1 %}
    <nav aria-label="Page navigation" class="m-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/timesheet/projects/{{pgx.idxpl}}/{{pgx.idxpr}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in pgx.lks %}
          <li class="page-item"><a class="page-link" id="page-link" href="/timesheet/projects/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/timesheet/projects/{{pgx.idxnl}}/{{pgx.idxnr}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      
    {% endif %}

    {% else %}
    <div class='mx-5 my-3'>{% trans "No projects available." %}</div>
    {% endif %}
    </div>
</div>
<script src="{% static 'timesheet/js/project_list_helper.js' %}"></script>
{% endblock %}