{% extends 'main/base.html' %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}


<div class="row py-3 mx-1 justify-content-center">
    <div class="row row-col-2 justify-content-between shadow p-2 col-lg-10 rounded border bg-light">
      <div class="col px-4 py-3 mb-2 col-10 col-md-6">
        <h3>{{project.projectName}}</h3>
        <a class="nav-link" href={% url 'timesheet:Company' id=project.company.id a=0 b=5 %}><h6>{{project.company}}</h6></a>
        <h6>{% trans "Start Date: " %}{{ project.startDate }}</h6>

        {% if project.projectType == 'onetime' %}
        <h6>{% trans "Type: One-Time" %}</h6>
        {% else %}
        <h6>{% trans "Type: Recurrent" %}</h6>
        {% endif %}

        {% if project.projectStatus %}
        <h6>{% trans "Status: Active" %}</h6>
        {% else %}
        <h6>{% trans "Status: Finished" %}</h6>
        {% endif %}
      </div>
      <div class="col align-text-bottom px-4 py-3 mb-2 col-10 col-md-6">
        {% if recurrent %}
        <h5>{% trans "Monthly Budget: " %}{{ project.budget }} hs.</h5>
        <h6>{% trans "Current month remaining: " %}{{ pending_time }} hs.</h6>
        {% else %}
        <h5>{% trans "Budget: " %}{{ project.budget }} hs.</h5>
        <h6>{% trans "Pending: " %}{{ pending_time }} hs.</h6>
        {% endif %}
    </div>
    </div>
</div>

<div class="row mt-3 mx-1 justify-content-center">
    <div class="col shadow p-3 border rounded col-lg-10">
      <!-- Table Block Header -->
      <nav class="navbar navbar-expand-lg table_nav">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href=""><h4>{% trans "Project Resources" %}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#timesheetsNavbar" aria-controls="timesheetsNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Offcanvas Header -->
          <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="timesheetsNavbar" aria-labelledby="offcanvasTimesheetsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasTimesheetsLabel">{% trans "Project Timesheets" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- Offcanvas Form -->
            <div class="d-lg-none">
              <div class="offcanvas-body">
                <form class="col btn-sm" role="search" id="qform">
                  <div class="my-2">{{filterform.q}}</div>
                  <div class="my-2">{{filterform.f}}</div>
                  <button class="btn btn-success mr-2" type="submit">{% trans "Filter" %}</button>
                  <a href="{% url 'timesheet:Project' id=id a=0 b=5 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </form>
              </div>
            </div>
            <!-- Incanvas Form -->
            <div class="d-none d-lg-block">
              <div class="collapse navbar-collapse" id="timesheetsNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex btn-sm" role="search" id="qform">
                  {{filterform.q}}
                  {{filterform.f}}
                <button class="btn btn-success mx-2" type="submit">{% trans "Filter" %}</button>
              </form>
                <div>
                  <a href="{% url 'timesheet:Project' id=id a=0 b=5 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {% if user_list %}
    <div class="table-responsive">
    <table class="table table-hover" id="timesheet_list" name="timesheet_List">
        <!-- Cabecera de Tabla -->
        <thead class="table-success">
            <th class="px-3">{% trans "User" %}</th>
            <th class="text-center">{% trans "Allocated Time: " %}{{ total_alloc_time.alloc_time__sum }} hs.</th> 
        </thead>

        <!-- Cuerpo de Tabla -->

        {% if user.is_staff %}

        <tbody>
            {% for Users in user_list %}
            <tr>
                <td class="px-3"><a class="nav-link" href={% url 'timesheet:User' id=Users.id a=0 b=10 %}>{{ Users.last_name }}, {{ Users.first_name}}</a></td>
                <td class="text-center">{{ Users.alloc_time }} hs.</td>
            </tr>
            {% endfor %}
        </tbody>

        {% else %}

        <tbody>
          {% for Users in user_list %}
            <tr>
              <td class="px-3">{{ Users.last_name }}, {{ Users.first_name}}</td>
              <td class="text-center">{{ Users.alloc_time }} hs.</td>
            </tr>

          {% endfor %}

        {% endif %}

    </table>
    </div>
    {% if links %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/timesheet/project/{{project.id}}/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/timesheet/project/{{project.id}}/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/timesheet/project/{{project.id}}/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
    {% else %}
    <div class='mx-5 my-3'>{% trans "No timesheets available." %}</div>
    {% endif %}
    </div>
</div>
<div class="row py-3 mx-1 justify-content-center">
  <div class="col shadow py-3 px-5 col-lg-10 border rounded">
      {% trans "Notes: " %}{{project.projectNotes}}
  </div>
</div>
{% if user.is_staff %}
<div class="row py-3 mx-1 justify-content-center">
    <div class="col d-flex justify-content-center shadow border rounded px-5 py-3 col-lg-10">       
        <p><a href={% url 'timesheet:Edit_Project' id=project.id %} class="btn btn-success px-4 mx-3" role="button">{% trans "Edit" %}</a></p>
        <p><a href={% url 'timesheet:Projects' a=0 b=10 %} class="btn btn-secondary px-3 mx-3" role="button">{% trans "Cancel" %}</a></p>
        {% if empty %}
        <p><a href={% url 'timesheet:Delete_Project' id=project.id %} class="btn btn-danger mx-3" role="button">{% trans "Delete" %}</a></p>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}