{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

<form action="" method="post">

{% csrf_token %}

<div class="row py-3 justify-content-center">
    <div class="col shadow p-3 mx-1 col-lg-10 rounded border bg-light">
        {% if title %}
        <div class="h2 px-4 py-2">{{title}}</div>
        {% else %}
        <div class="h2 px-4 py-2">{{timesheet.project.projectName}}</div>
        {% endif %}
    
        <div class="row row-col-2 py-3 justify-content-center">
            <div class="col col-10 col-md-6 py-1">

                <div class="form-floating my-3 mx-4">
                {{timesheetform.timeDate}}
                    <label for="id_date">{% trans "Date:" %}</label>
                </div>

                <div class="form-floating my-3 mx-4">
                    {{timesheetform.timeItem}}
                    <label for="id_item">{% trans "Duration:" %}</label>
                </div>

                <div class="form-floating my-3 mx-4">
                    {{timesheetform.timeType}}
                    <label for="id_type">{% trans "Type:" %}</label>
                </div>

            </div>

            <div class="col col-10 col-md-6 py-1 light-border">
            
                    <div class="my-3 mx-4">
                        {{timesheetform.project}}
                    </div>          

                    <div class="col d-flex justify-content-center my-3 px-5 py-3">
                        <button type="submit" class="btn btn-outline-success px-3 mx-2">{% trans "Save" %}</button>
                        {% if project.id %}
                        <button onclick="history.back()" class="btn btn-outline-secondary" role="button">{% trans "Cancel" %}</button>
                        {% else %}
                        <button onclick="history.back()" class="btn btn-outline-secondary" role="button">{% trans "Cancel" %}</button>
                        {% endif %}
                    </div>
            </div>
        </div>
        <div class="row py-3 mx-1 justify-content-center">
            <div class="col p-3 mx-1">
    
                <div class="form-floating my-2">
                    {{timesheetform.timeNotes}}
                    <label for="id_notes">{% trans "Notes:" %}</label>
                </div>

            </div>
        </div>
    </div>
</div>
</form>

<script src="{% static 'timesheet/js/timesheet_create_helper.js' %}"></script>

{% endblock %}
