{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}


<div class="row py-3 mx-1 justify-content-center">
    <div class="col shadow py-3 px-5 col-lg-10 rounded border bg-light">
        {% if title %}
        <h2>{{title}}</h2>
        {% else %}
        <h2>{{timesheet.project.projectName}}</h2>
        {% endif %}
    </div>
</div>

<form action="" method="post">

{% csrf_token %}

<div class="row row-col-2 mx-1 py-3 justify-content-center">
    <div class="col shadow mx-1 px-5 py-3 mb-2 border col-lg-5 rounded">
        <div class="form-floating my-3">
           {{timesheetform.timeDate}}
            <label for="id_date">{% trans "Date:" %}</label>
        </div>
        <div class="form-floating my-3">
            {{timesheetform.timeItem}}
            <label for="id_item">{% trans "Duration:" %}</label>
        </div>
        <div class="form-floating my-3">
            {{timesheetform.timeType}}
            <label for="id_type">{% trans "Type:" %}</label>
        </div>
    </div>
    <div class="col shadow mx-1 px-5 py-3 mb-2 border col-lg-5 rounded">
      
            <div class="my-3">
                {{timesheetform.project}}
            </div>          

            <div class="col d-flex justify-content-center my-3 px-5 py-3">
                <button type="submit" class="btn btn-success px-3 mx-2">{% trans "Save" %}</button>
                {% if project.id %}
                <a href={% url 'timesheet:Timesheet' id=timesheet.id%} class="btn btn-secondary" role="button">{% trans "Cancel" %}</a>
                {% else %}
                <a href="{% url 'timesheet:Self_Timesheets' a=0 b=10 %}" class="btn btn-secondary" role="button">{% trans "Cancel" %}</a>
                {% endif %}
            </div>
    </div>
</div>
<div class="row py-3 mx-1 justify-content-center">
    <div class="col shadow py-3 px-5 col-lg-10 border rounded">
    <p>
        <div class="form-floating">
            {{timesheetform.timeNotes}}
            <label for="id_notes">{% trans "Notes:" %}</label>
        </div>
        </p>
    </div>
</div>

<script src="{% static 'timesheet/js/timesheet_create_helper.js' %}"></script>

{% endblock %}
