{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="row mt-3 justify-content-md-center">
    <div class="col shadow p-2 col-lg-10 rounded bg-light">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href="#"><h2>{% trans "Timesheets" %}</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#timesheetsNavbar" aria-controls="timesheetsNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="timesheetsNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="btn btn-outline-secondary btn-sm my-1" href="{% url 'timesheet:Create_Timesheet' %}">{% trans "Add Timesheet" %}</a>
              </li>
            </ul>
            <form class="d-flex btn-sm" role="search">
                {{searchform.q}}
              <button class="btn btn-primary mx-2" type="submit">{% trans "Search" %}</button>
            </form>
            <div>
              <a href="{% url 'timesheet:Timesheets' a=0 b=10 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
</div> 
<div class="row mt-3 justify-content-md-center" id="companies-table-block">
    <div class="col shadow p-3 border rounded col-lg-10">
    {% if timesheets_list %}
    <div class="table-responsive">
    <table class="table table-hover" id="timesheets_list" name="Timesheets_List">
    <!-- Cabecera de Tabla -->
    
        <thead class="table-primary">
            <th class="px-3">{% trans "Date" %}</th>
            <th class="px-3">{% trans "Hours" %}</th>
            <th class="px-3">{% trans "Project" %}</th>
            <th class="px-3">{% trans "Resource" %}</th>
        </thead>

    <!-- Cuerpo de Tabla -->
    
    <tbody>
        {% for Timesheet in timesheets_list %}
        <tr>
          <td><a class="nav-link px-3" href={% url 'timesheet:Timesheet' id=Timesheet.id %}>{{ Timesheet.timeDate }}</a></td>
          <td><a class="nav-link px-3" href={% url 'timesheet:Timesheet' id=Timesheet.id %}>{{ Timesheet.timeItem }}</a></td>
          <td><a class="nav-link px-3" href={% url 'timesheet:Project' id=Timesheet.project.id a=0 b=5 %}>{{ Timesheet.project }}</a></td>
          <td><a class="nav-link px-3" href='#'>{{ Timesheet.user.last_name }}, {{ Timesheet.user.first_name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% if links %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/timesheet/timesheets/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/timesheet/timesheets/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/timesheet/timesheets/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      
    {% endif %}

    {% else %}
        <p>{% trans "No timesheets available." %}</p>
    {% endif %}
    </div>
</div>
<script src="{% static 'timesheet/js/companies_helper.js' %}"></script>
{% endblock %}