{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="row mt-3 mx-1 justify-content-md-center">
    <div class="col shadow p-3 border rounded col-lg-10">
      <!-- Table Block Header -->
      <nav class="navbar navbar-expand-lg table_nav">
        <div class="container-fluid">
          <a class="navbar-brand" href=""><h4>{% trans "Users" %}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#usersNavbar" aria-controls="usersNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Offcanvas Header -->
          <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="usersNavbar" aria-labelledby="offcanvasUsersLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasUsersLabel">{% trans "Users" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- Offcanvas Form -->
            <div class="d-lg-none">
              <div class="offcanvas-body">
                <a class="btn btn-outline-secondary btn-sm me-1 my-1" href="{% url 'timesheet:Create_Timesheet' %}"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Timesheet" %}</a>
                <form class="col btn-sm" role="search" id="qform">
                  <div class="my-2">{{filterform.q}}</div>
                  <div class="my-2">{{filterform.f}}</div>
                  <button class="btn btn-success mr-2" type="submit">{% trans "Filter" %}</button>
                  <a href="{% url 'timesheet:Users' a=0 b=10 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </form>
              </div>
            </div>
            <!-- Incanvas Form -->
            <div class="d-none d-lg-block">
              <div class="collapse navbar-collapse" id="usersNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-sm me-1 my-1" href="{% url 'timesheet:Create_Timesheet' %}"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Timesheet" %}</a>
                  </li>
                </ul>
                <form class="d-flex btn-sm" role="search" id="qform">
                  {{filterform.q}}
                  {{filterform.f}}
                <button class="btn btn-success mx-2" type="submit">{% trans "Filter" %}</button>
              </form>
              <div>
                <a href="{% url 'timesheet:Users' a=0 b=10 %}" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
              </div>
              </div>
            </div>
          </div>
        </div>

      </nav>
    {% if users_list %}
    <div class="table-responsive">
    <table class="table table-hover" id="users_list" name="Users_List">
        <!-- Cabecera de Tabla -->
        <thead class="table-success">
            <th class="px-3">{% trans "Name" %}</th>
            <th class="text-center">{% trans "Allocated Time: " %}{{ total_alloc_time.alloc_time__sum }} hs.</th>
            <th class="text-center">{% trans "Unallocated Time: " %}{{ total_unalloc_time.unalloc_time__sum }} hs.</th>
        </thead>

        <!-- Cuerpo de Tabla -->

        <tbody>
            {% for User in users_list %}
            {% if User.alloc_time == 0 and User.is_active == False %}
            {% else %}
            <tr>
                <td class="px-3"><a class="nav-link" href={% url 'timesheet:User' id=User.id a=0 b=10 %}>{{ User.last_name }}, {{ User.first_name }}</a></td>
                <td class="text-center">{{ User.alloc_time}} hs.</td>
                <td class="text-center">{{ User.unalloc_time }} hs.</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>

    </table>
    </div>
    {% if links %}
    <nav aria-label="Page navigation" class="m-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/timesheet/users/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/timesheet/users/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/timesheet/users/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    
      {% endif %}

    {% else %}
    <div class='mx-5 my-3'>{% trans "No users available." %}</div>
    {% endif %}
    </div>
</div>
<script src="{% static 'timesheet/js/user_list_helper.js' %}"></script>
{% endblock %}