{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'includes/admin_navbar.html' %}
{% endblock navbar %}

{% block content %}

<form method="post">

    {% csrf_token %}

    <div class="row mx-1 py-3 justify-content-center">
        <div class="col bg-white m-5 p-4 border col-lg-5 rounded">
            <div style="text-align: center;">
                <h2>{% trans "Editing User:" %}</h2>
                <h3>{{muser.email}}</h3>
                </div>
            <br>
            <p>
                <div class="form-floating">
                    {{usercreateform.first_name}}
                    <label for="first_name" class="form-label">{% trans "First Name:" %}</label>
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{usercreateform.last_name}}
                    <label for="last_name" class="form-label">{% trans "Last Name:" %}</label>
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{usercreateform.title}}
                    <label for="title" class="form-label">{% trans "Title:" %}</label>
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{usercreateform.practice}}
                    <label for="practice" class="form-label">{% trans "Practice:" %}</label>
                </div>
            </p>
            <p>
                <div>
                    {{usercreateform.seniority}}
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{usercreateform.allocTarget}}
                    <label for="allocTarget" class="form-label">{% trans "Monthly Allocation Target:" %}</label>
                </div>
            </p>
            <p>
                <div class="form-floating my-3">
                    {{usercreateform.startDate}}
                     <label for="id_startdate">{% trans "Join Date:" %}</label>
                 </div>
            </p>
            {% if user != muser %}
            <div>
                <div class="form-check">
                    {{usercreateform.is_active}}
                    <label for="is_active" class="form-check-label">{% trans "Is Active?" %}</label>
                </div>
                <div class="form-check">
                    {{usercreateform.is_staff}}
                    <label for="is_staff" class="form-check-label">{% trans "Is Supervisor?" %}?</label>
                </div>
                <div class="form-check">
                    {{usercreateform.is_superuser}}
                    <label for="is_admin" class="form-check-label">{% trans "Is Administrator?" %}?</label>
                </div>
            </div>
            {% else %}
            <div class="d-none">
                <div class="form-check">
                    {{usercreateform.is_active}}
                    <label for="is_active" class="form-check-label">{% trans "Is Active?" %}</label>
                </div>
                <div class="form-check">
                    {{usercreateform.is_staff}}
                    <label for="is_staff" class="form-check-label">{% trans "Is Supervisor?" %}?</label>
                </div>
                <div class="form-check">
                    {{usercreateform.is_superuser}}
                    <label for="is_admin" class="form-check-label">{% trans "Is Administrator?" %}?</label>
                </div>
            </div>
            {% endif %}

            <p>
                <div class="col d-flex justify-content-center px-5 py-3 col-lg-15">
                    <p><button class="btn btn-outline-success px-4 mx-2" type="submit">{% trans "Save" %}</button></p>
                    <p><button onclick="history.back()" class="btn btn-outline-secondary px-4 mx-2" role="button">{% trans "Cancel" %}</button></p>
                </div>
            </p>
        </div>
    </div>


</form>

<script src="{% static 'users/js/user_create_helper.js' %}"></script>
{% endblock %}
