{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<form method="post">

    {% csrf_token %}

    <div class="row row-col-1 py-3 justify-content-center">
        <div class="col shadow m-5 p-4 border col-md-5 rounded">
            <div style="text-align: center;">
                <h2>{% trans "Editing User:" %}</h2>
                <h3>{{muser.email}}</h3>
                </div>
            <br>
            <p>
                <div class="form-floating">
                    {{usercreateform.first_name}}
                    <label for="first_name" class="form-label">{% trans "First Name:" %}</label>
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{usercreateform.last_name}}
                    <label for="last_name" class="form-label">{% trans "Last Name:" %}</label>
                </div>
            </p>
            <div>
                <div class="form-check">
                    {{usercreateform.is_active}}
                    <label for="is_active" class="form-check-label">{% trans "Is Active?" %}</label>
                </div>
                <div class="form-check">
                    {{usercreateform.is_staff}}
                    <label for="is_staff" class="form-check-label">{% trans "Is Staff" %}?</label>
                </div>
            </div>

            <p>
                <div class="col d-flex justify-content-center px-5 py-3 col-lg-15">
                    <p><button class="btn btn-primary px-4 mx-2" type="submit">{% trans "Save" %}</button></p>
                    <p><a href="/admin_home/0/10/" class="btn btn-secondary px-4 mx-2" role="button">{% trans "Cancel" %}</a></p>
                </div>
            </p>
        </div>
    </div>


</form>

{% endblock %}