{% load i18n %}
{% autoescape off %}
{% trans "Hello" %} {{ user }},

{% trans "We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below." %}

{{ protocol }}://{{ domain }}/users/password_reset_confirm/{{ uid }}/{{ token }}

{% trans "This link can only be used once. If you need to reset your password again, please visit" %} {{ protocol }}://{{domain}} {% trans "and request another reset." %}

{% trans "If you did not make this request, you can simply ignore this email." %}


{% endautoescape %}