{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <div class="row row-col-1 py-3 justify-content-center">
        <div class="col shadow m-5 p-4 border col-lg-5 rounded">
            <div style="text-align: center">
                <h2>{% trans "Password Reset" %}</h2>
                </div>
            <br>
            <div class="px-3">
                <p>{% trans "Forgot you password? Enter your email below, and we'll email instructions for setting a new one." %}</p>
            </div>
            </p>
            <div class="form-floating">
                    {{passwordresetform.email}}
                    <label for="id_email" class="form-label">{% trans "eMail:" %}</label>
            </div>
            <p>
                <div class="col d-flex justify-content-center px-5 py-3 col-lg-15">
                    <p><button class="btn btn-primary px-4 mx-2" type="submit">{% trans "Send" %}</button></p>
                    <p><a href="/users/profile/" class="btn btn-secondary px-4 mx-2" role="button">{% trans "Cancel" %}</a></p>
                </div>
            </p>
        </div>
    </div>


</form>


{% endblock content %}


