{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}

<form method="post">

    {% csrf_token %}

    <div class="row row-col-1 py-3 justify-content-center">
        <div class="col shadow m-5 p-4 border col-lg-5 rounded">
            <div style="text-align: center;">
                <h2>{% trans "Password Change" %}</h2>
                </div>
            <br>
            <p>
                <div class="form-floating">
                    {{changepasswordform.password1}}
                    <label for="id_new_password1" class="form-label">{% trans "Password:" %}</label>
                </div>
            </p>
            <p>
            <div class="px-3">
                <ul class="list-unstyled">
                    <li><small>{% trans "Your password can’t be too similar to your other personal information." %}</small></li>
                    <li><small>{% trans "Your password must contain at least 8 characters." %}</small></li>
                    <li><small>{% trans "Your password can’t be a commonly used password." %}</small></li>
                    <li><small>{% trans "Your password can’t be entirely numeric." %}</small></li>
                </ul>
            </div>
            </p>
            <p>
                <div class="form-floating">
                    {{changepasswordform.password2}}
                    <label for="id_new_password2" class="form-label">{% trans "Re-type Password:" %}</label>
                </div>
            </p>
            <p>
                <div class="col d-flex justify-content-center px-5 py-3 col-lg-15">
                    <p><button class="btn btn-primary px-4 mx-2" type="submit">{% trans "Change" %}</button></p>
                    <p><a href="/users/profile/" class="btn btn-secondary px-4 mx-2" role="button">{% trans "Cancel" %}</a></p>
                </div>
            </p>
        </div>
    </div>


</form>

{% endblock %}