{% extends 'main/base.html' %}
{% load i18n %}

{% block navbar %}
{% include 'includes/admin_navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="row mt-3 mx-1 justify-content-md-center">
    <div class="col shadow p-2 col-lg-10 rounded bg-light">
          <div class="container-fluid px-4">
            <h4><i class="bi bi-people"></i>&nbsp;{% trans "Users" %}</h4>
          </div>
    </div> 
</div>
<div class="row mt-3 mx-1 justify-content-md-center">
    <div class="col shadow p-3 border rounded col-lg-10">
    {% if users_list %}
    <div class="table-responsive">
    <table class="table table-hover" id="users_list" name="Users_List">
        <!-- Cabecera de Tabla -->
        <thead class="table-primary">
            <th>{% trans "Name" %}</th>
            <th>{% trans "eMail" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Is Supervisor?" %}</th>
        </thead>

        <!-- Cuerpo de Tabla -->

        <tbody>
            {% for User in users_list %}
            <tr>
                <td><a class="nav-link" href={% url 'users:User' id=User.id %}>{{ User.last_name }}, {{ User.first_name }}</a></td>
                <td>{{ User.email}}</td>
                {% if User.is_active %}
                <td class='text-primary'>{% trans "Active" %}</td>
                {% else %}
                <td class='text-danger'>{% trans "Inactive" %}</td>
                {% endif %}
                {% if User.is_staff %}
                <td class='text-success'>{% trans "Yes" %}</td>
                {% else %}
                <td>{% trans "No" %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>

    <nav aria-label="Page navigation" class="m-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/users/users/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/users/users/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/users/users/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    {% else %}
        <p>{% trans "No users available." %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}