thead {
    background-color: rgba(16,131,192,0.1);
}

.custom_nav {
    background-color: rgba(16,131,192,0.1);
}

.table_nav {
    background-color: white;
}

.border-cus-left {
    border-left: 2px solid grey;
    height: 2em;
}

.custom-border {
    display: inline-block;
    width: 0;
    height: 1.3em;
    margin-top: 0.75em;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.table-responsive {
    border-radius: 5px;
}

.form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
}

.form-select:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
}

.pagination {
    --bs-pagination-color: #28a745 !important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #28a745 !important;
    --bs-pagination-active-border-color: #28a745 !important;
    --bs-pagination-hover-color: #0a3622 !important;
  }
  