{% load static %}
{% load i18n %}
<div class="row mt-3 justify-content-md-center">
  <div class="col shadow p-2 col-lg-10 rounded bg-light">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid px-4">
        <a class="navbar-brand" href=""><h3>{% trans "Administration" %}</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#timesheetsNavbar" aria-controls="timesheetsNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="timesheetsNavbar">
          <ul class="nav ms-auto mb-lg-0"> 
          {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'main:Admin_Home' a=0 b=10 %}>{% trans "Backup" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'users:Users' a=0 b=10 %}>{% trans "Users" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'users:deletedUsers' a=0 b=10%}>{% trans "Inactive Users" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'main:Admin_Trash' a=0 b=10 %}>{% trans "System Trash" %}</a>
          </li>
          {% endif %}
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div> 