{% load static %}
{% load i18n %}
<div class="row mt-3 justify-content-md-center">
  <div class="col shadow p-2 col-lg-10 rounded bg-light">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid px-4">
        <a class="navbar-brand" href=""><h3>{% trans "Management" %}</h3></a>
        {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#managementNavbar" aria-controls="managementNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="managementNavbar">
          <ul class="nav ms-auto mb-lg-0"> 
          {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'timesheet:Users' a=0 b=10 %}><i class="bi bi-people"></i>&nbsp;{% trans "Users" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'timesheet:Projects' a=0 b=10 %}><i class="bi bi-code-square"></i>&nbsp;{% trans "Projects" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'timesheet:Companies' a=0 b=10 %}><i class="bi bi-buildings"></i>&nbsp;{% trans "Customers" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm me-1 my-1" href={% url 'timesheet:Timesheets' a=0 b=10 %}><i class="bi bi-clock-history"></i>&nbsp;{% trans "Timesheets" %}</a>
          </li>
          {% endif %}
          {% endif %}
          </ul>
        </div> {% endcomment %}
      </div>
    </nav>
  </div>
</div> 